.filterContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
}

.filter {

}

.filter-input {
    height: 2rem;
    width: 30%;
    border-radius: .5rem;
    border: none;
    padding: .5rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.filter-titles {
    color: var(--main-white);
}

