.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* padding: 1rem; */
    margin-bottom: 2rem;
    width: 100%;
    /* background-color: var(--main-green-dark); */
}

.filter {
    /* width: 100%; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    /* background-color: aqua; */
}

.filter-input {
    height: 2rem;
    /* width: 30%; */
    border-radius: .5rem;
    border: none;
    /* padding: .5rem; */
    margin-top: .5rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /* padding-left: 1rem; */
    text-align: center;
}

.filter-titles {
    color: var(--main-white);
}

