.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--main-green-dark);
    padding: 1rem;
    margin-bottom: 3rem;
}

.heroText {
    font-size: 4rem;
    color: var(--main-white);
    /* margin-left: 1rem; */
}

@media (max-width: 600px) {
    .heroText {
        margin-top: 1rem;
    }
}