.heroText {
    font-size: 7rem;
    color: var(--main-white);
    line-height: .4;
    margin-top: 3rem;
}

@media (max-width: 600px) {
    .heroText {
        max-width: 100vw;
        font-size: 5rem;
        line-height: .7;
        margin-top: 1rem;
    }
}