@import 'hero-styles.css';
@import 'work-styles.css';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

:root {
  --main-bg: #020311;
  --main-primary: #230555;
  --main-primary-middle: #3D177D;
  --main-primary-light: #5700E4;
  --main-primary-light2: #813feb;
  --main-white: #fff;
  --main-accent: #FF27C3;
  --main-grey: rgba(241, 241, 241, 0.825);
  --main-green: #5ef663;
  --main-red: rgb(255, 99, 99);
}

.App {
    background: var(--main-bg);
    height: auto;
    min-height: 100vh;

}

.container {
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}