@import 'hero-styles.css';
@import 'work-styles.css';
@import 'filter-styles.css';
@import 'table-styles.css';


*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

:root {
    background: var(--main-bg);
  --main-bg: #020311;
  --main-primary: #230555;
  --main-primary-middle: #3D177D;
  --main-primary-light: #5700E4;
  --main-primary-light2: #813feb;
  --main-primary-other: #ff9e2f;
  --main-primary-other2: rgb(250, 185, 112);
  --main-white: #fff;
  --main-white-light: rgba(255, 255, 255, 0.635);
  --main-accent: #FF27C3;
  --main-grey: rgba(241, 241, 241, 0.825);
  --main-green: #5ef663;
  --main-green-dark: #008204;
  --main-green-light: #9afa9d;

  --main-red: rgb(255, 99, 99);
}

.App {
    background: var(--main-bg);
    height: auto;
    min-height: 100vh;

}

.container {
    margin: 0 auto;
    /* padding: 0 5rem; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    /* min-height: 100vh; */
}

.data-container {
    /* background-color: #230555; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: var(--main-green);
    width: 10rem;
    padding: .5rem;
    border-radius: .5rem;
    border: none;
}

.button:hover {
    background-color: #3dce3d;
    cursor: pointer;
}

.button:active {
    background-color: #2f9e2f;
}

.button-text {
    color: var(--main-bg);
}

.loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.loader-text {
    color: var(--main-white);
    font-size: .7rem;
    font-style: italic;
    margin-top: 1rem;
}

@media (max-width: 600px) {
    .App {
        /* max-height: 90vh; */
        /* padding: 0 1rem; */
    }

    .container {
        /* min-height: 90vh; */
    }
}