.workitem_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--main-white);
    width: 12rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: .5rem;

    color: var(--main-bg);
    font-size: .8rem;

    border: 1px solid var(--main-white);
}

.workitem_container:hover {
    cursor: pointer;
    background-color: var(--main-primary-light);
    border: 1px solid var(--main-primary-light);
}

.workitem_container:active {
    color: var(--main-primary-light);
    background-color: var(--main-black);
    border: 1px solid var(--main-primary-light)
}


.workitem_container-olympics {
    background-color: var(--main-black);
    border: 1px solid var(--main-white);
}

.workitem_container-olympics:hover {
    background-color: var(--main-accent);
    border: 1px solid var(--main-accent);
}

.workitem_container-olympics-half {
    opacity: .25;
    color: var(--main-white);
}

.workitem_container-olympics-half:hover {
    opacity: 1;
    background-color: var(--main-green);
    border: 1px solid var(--main-green);
    color: var(--main-black);
}